<IfModule mod_rewrite.c>
  RewriteEngine On
  # directory browsing
  Options All -Indexes

  	RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>