#hike-app {
  width: 1260px;
  height: 400px;
  margin: 100px 250px;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
}

#header-hike-bar {
  width: 1260px;
  height: auto;
  min-height: 45px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: #00b980;
}
open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.container-box {
  max-width: 11992px;
  display: flex;
  padding: 25px 25px;
  padding-right: 1.5px;
  background-color: #3e4150;
  gap: 15px;
}

.hiking-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 15px;

  border-right: 1px solid #00b980;
}

.hike-col {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.pointer {
  font-weight: bold;
  color: #00b980;
}
.prop-data {
  color: wheat;
}

img {
  width: 200px;
  height: 200px;
}
